FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_ADMIN_PROJECT_ID=
FIREBASE_ADMIN_CLIENT_EMAIL=
FIREBASE_ADMIN_PRIVATE_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
PRINTPAY_API_KEY=
PRINTPAY_API_BASE_URL=https://printpay.site/api
BREVO_API_KEY=
BREVO_SENDER_HELLO=
BREVO_SENDER_SUPPORT=
BREVO_SENDER_ORDERS=
BREVO_SENDER_PAYMENTS=
BREVO_SENDER_PROMOTIONS=
BREVO_SENDER_NAME=HerStep Collection
BREVO_REPLY_TO_EMAIL=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
SITE_URL=https://herstepp.vercel.app
